
@{
    ViewData["Title"] = "Index";
}
<h2> @ViewData["Greeting"]</h2>

<div>The time is @ViewData["Time"] on @ViewData["Date"] </div>
<div>There are @ViewData["Days"] more days left on @ViewData["Year"]</div>
<div class="link">
    <a href="/Home/SecondPage/5">Go to Page 2...</a>
</div>

